<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>com.baizhi.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/ResUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.baizhi.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>QueryAllUserServlet</servlet-name>
  	<servlet-class>com.baizhi.servlet.QueryAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryAllUserServlet</servlet-name>
  	<url-pattern>/QueryAllUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ExitServlet</servlet-name>
  	<servlet-class>com.baizhi.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>QueryAllRecordServlet</servlet-name>
  	<servlet-class>com.baizhi.servlet.QueryAllRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryAllRecordServlet</servlet-name>
  	<url-pattern>/QueryAllRecord</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<servlet-class>com.baizhi.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<servlet-class>com.baizhi.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Admin_QueryAllRecordServlet</servlet-name>
  	<servlet-class>com.baizhi.servlet.Admin_QueryAllRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Admin_QueryAllRecordServlet</servlet-name>
  	<url-pattern>/Admin_QueryAllRecord</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DeleteRecordServlet</servlet-name>
  	<servlet-class>com.baizhi.servlet.DeleteRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteRecordServlet</servlet-name>
  	<url-pattern>/DeleteRecord</url-pattern>
  </servlet-mapping>
</web-app>
